{
  "procedures": [
    {
      "name": "daily_sap_offline_update",
      "description": "Ежедневное обновление sap_offline",
      "schedule": "0 2 * * *",
      "procedure": "sap_offline_update", # Имя хранимой процедуры в БД
      "params": {
        "_date": "CURRENT_DATE", # CURRENT_DATE автоматически подставляется текущая дата в формате YYYY-MM-DD
        "_department_id": "DEPARTMENT_ID" # DEPARTMENT_ID Автоматически подставится значение из переменной окружения
      },
      "enabled": false
    },
    {
      "name": "agent_morning_sap_offline_update",
      "description": "Утреннее обновление sap_offline (06:00 за вчерашний день)",
      "schedule": "0 6 * * *",
      "jobName": "SapOfflineUpdate_Morning",
      "enabled": true
    },
    {
      "name": "agent_daily_sap_offline_update",
      "description": "Ежедневное обновление sap_offline (каждые 3 часа с 01:45)",
      "schedule": "45 1,4,7,10,13,16,19,22 * * *",
      "jobName": "SapOfflineUpdate_Daily",
      "enabled": true
    }
  ]
}