USE [stkh]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		AKDEMAGIN
-- Description:	Обновление данных sap_offline на указанную дату
-- =============================================
CREATE PROCEDURE [dbo].[sap_offline_update1](@_date VARCHAR(10), @_department_id Int)
AS
BEGIN
    SET NOCOUNT ON;

    -- Начинаем транзакцию
    BEGIN TRANSACTION;  
    
    BEGIN TRY
        -- Пытаемся получить эксклюзивную блокировку приложения
        DECLARE @LockResult INT;
        EXEC @LockResult = sp_getapplock 
            @Resource = 'sap_offline_update_lock',
            @LockMode = 'Exclusive',
            @LockOwner = 'Transaction',
            @LockTimeout = 300000,                    -- ждём 5 минут
            @DbPrincipal = 'public';
        
        IF @LockResult < 0
        BEGIN
            RAISERROR('Не удалось получить блокировку приложения. Код ошибки: %d', 16, 1, @LockResult);
            ROLLBACK TRANSACTION;
            RETURN;
        END;
    
    -- =============================================
    -- Инициализация и подготовка данных
    -- =============================================
    
    -- Базовые переменные для преобразования дат
    DECLARE @base_date DATETIME = '1899-12-30';
    DECLARE @d_num FLOAT = DATEDIFF(DAY, @base_date, @_date);
    
    -- Очистка существующих данных за указанную дату
    DELETE FROM [dbo].[sap_offline]
    WHERE CAST(time_start AS DATE) = CAST(@_date AS DATE);

    -- =============================================
    -- Подготовка словарей URL и приложений
    -- =============================================
    
    -- Временные таблицы для хранения словарей
    CREATE TABLE #VocabUrls (
        vocab_id INT,
        url NVARCHAR(450)
    );

    CREATE TABLE #VocabApps (
        vocab_id INT,
        app_desc NVARCHAR(450)
    );

    -- Разбор словарей через курсор
    DECLARE @vocab_id INT, @url_list NVARCHAR(MAX), @app_list NVARCHAR(MAX);
    DECLARE @delimiter CHAR(2) = CHAR(13) + CHAR(10);

    DECLARE vocab_cursor CURSOR LOCAL FAST_FORWARD FOR
    SELECT id, url_list, app_list FROM TVocabs;
    
    OPEN vocab_cursor;
    FETCH NEXT FROM vocab_cursor INTO @vocab_id, @url_list, @app_list;
    
    WHILE @@FETCH_STATUS = 0
    BEGIN
        -- Разбор списка URL
        IF @url_list IS NOT NULL AND @url_list <> ''
        BEGIN
            DECLARE @url_start INT = 1, @url_end INT;
            SET @url_end = CHARINDEX(@delimiter, @url_list);
            
            WHILE @url_start < LEN(@url_list) + 1
            BEGIN
                IF @url_end = 0
                    SET @url_end = LEN(@url_list) + 1;
                
                DECLARE @url NVARCHAR(MAX) = SUBSTRING(@url_list, @url_start, @url_end - @url_start);
                SET @url = REPLACE(REPLACE(@url, CHAR(13), ''), CHAR(10), '');
                
                IF LTRIM(RTRIM(@url)) <> ''
                    INSERT INTO #VocabUrls (vocab_id, url) VALUES (@vocab_id, @url);
                
                SET @url_start = @url_end + LEN(@delimiter);
                SET @url_end = CHARINDEX(@delimiter, @url_list, @url_start);
            END
        END
        
        -- Разбор списка приложений
        IF @app_list IS NOT NULL AND @app_list <> ''
        BEGIN
            DECLARE @app_start INT = 1, @app_end INT;
            SET @app_end = CHARINDEX(@delimiter, @app_list);
            
            WHILE @app_start < LEN(@app_list) + 1
            BEGIN
                IF @app_end = 0
                    SET @app_end = LEN(@app_list) + 1;
                
                DECLARE @app_desc NVARCHAR(MAX) = SUBSTRING(@app_list, @app_start, @app_end - @app_start);
                SET @app_desc = REPLACE(REPLACE(@app_desc, CHAR(13), ''), CHAR(10), '');
                
                IF LTRIM(RTRIM(@app_desc)) <> ''
                    INSERT INTO #VocabApps (vocab_id, app_desc) VALUES (@vocab_id, @app_desc);
                
                SET @app_start = @app_end + LEN(@delimiter);
                SET @app_end = CHARINDEX(@delimiter, @app_list, @app_start);
            END
        END
        
        FETCH NEXT FROM vocab_cursor INTO @vocab_id, @url_list, @app_list;
    END
    
    CLOSE vocab_cursor;
    DEALLOCATE vocab_cursor;

    -- Индексы для временных таблиц словарей
    CREATE INDEX IX_VocabUrls_url ON #VocabUrls (url);
    CREATE INDEX IX_VocabApps_app_desc ON #VocabApps (app_desc);

    -- =============================================
    -- Подготовка правил профилей
    -- =============================================
    
    CREATE TABLE #ProfileRules (
        profile_id INT,
        rel_type INT,
        is_url BIT,
        pattern NVARCHAR(450)
    );

    -- Заполнение правил для URL
    INSERT INTO #ProfileRules (profile_id, rel_type, is_url, pattern)
    SELECT 
        pr.id,
        tvr.rel_type,
        1 AS is_url,
        vu.url AS pattern
    FROM TProfiles pr
    INNER JOIN TVPRels tvr ON pr.id = tvr.id_profile
    INNER JOIN #VocabUrls vu ON tvr.id_vocab = vu.vocab_id;
    
    -- Заполнение правил для приложений
    INSERT INTO #ProfileRules (profile_id, rel_type, is_url, pattern)
    SELECT 
        pr.id,
        tvr.rel_type,
        0 AS is_url,
        va.app_desc AS pattern
    FROM TProfiles pr
    INNER JOIN TVPRels tvr ON pr.id = tvr.id_profile
    INNER JOIN #VocabApps va ON tvr.id_vocab = va.vocab_id;

    -- Индексы для таблицы правил
    CREATE INDEX IX_ProfileRules_profile_id ON #ProfileRules (profile_id);
    CREATE INDEX IX_ProfileRules_pattern ON #ProfileRules (pattern);

	-- Создаем временную таблицу для сотрудников целевого департамента
        CREATE TABLE #DepartmentUsers (
            user_or_department_name varchar(256)
        );

        -- Заполняем таблицу пользователями из целевого департамента и его подразделений
        WITH HierarchyCTE AS (
            -- Анкорная часть: выбираем начальный узел
            SELECT 
                ID, 
                PARENT_ID,
                -- Извлекаем только имя пользователя (после последнего обратного слеша)
			CASE 
				WHEN CHARINDEX('\', display_name) > 0 THEN
					RIGHT(
						display_name, 
						LEN(display_name) - CHARINDEX('\', display_name)
					)
				ELSE
					display_name
			END AS display_name
            FROM THier
            WHERE ID = @_department_id

            UNION ALL

            -- Рекурсивная часть: выбираем дочерние узлы
            SELECT 
                t.ID, 
                t.PARENT_ID,
				CASE
					WHEN CHARINDEX('\', t.display_name) > 0 THEN
						RIGHT(
							t.display_name, 
							LEN(t.display_name) - CHARINDEX('\', t.display_name)
						)
					ELSE
						t.display_name
				END AS display_name
            FROM THier t
            INNER JOIN HierarchyCTE cte ON t.PARENT_ID = cte.ID
        )

    INSERT INTO #DepartmentUsers (user_or_department_name)
    SELECT display_name
    FROM HierarchyCTE;
        
    CREATE INDEX IX_DepartmentUsers_name ON #DepartmentUsers (user_or_department_name);

    -- =============================================
    -- Подготовка данных отчета
    -- =============================================
    
    CREATE TABLE #ReportData (
    account_id INT,
    category CHAR(1),
    time_start DATETIME2,  -- UTC+0 время
    time_end DATETIME2,    -- UTC+0 время
    time_monitor_end DATETIME2  -- UTC+0 время
);

    CREATE TABLE #ReportDataRaw (
    account_id INT,
    category CHAR(1),
    time_start DATETIME2,  -- UTC+0 время
    time_end DATETIME2,    -- UTC+0 время
    time_monitor_end DATETIME2  -- UTC+0 время
);

    -- Константа для преобразования времени с учетом часового пояса
    DECLARE @TimezoneOffsetMultiplier INT = 24 * 60; -- множитель для преобразования смещения часового пояса

    -- Заполнение данных отчета с преобразованием времени
    INSERT INTO #ReportDataRaw (account_id, category, time_start, time_end, time_monitor_end)
    SELECT 
        ui.id AS account_id,
        COALESCE((
            SELECT TOP 1 
                CASE 
					WHEN pr.rel_type = -1 THEN 'u' -- непродуктивный
                    WHEN pr.rel_type = 1 THEN 'p'  -- продуктивный
                END
            FROM #ProfileRules pr
            WHERE pr.profile_id = prl.id
                AND (
                    (pr.is_url = 1 AND ( rau.url LIKE 'http://' + pr.pattern + '%' OR
										 rau.url LIKE 'https://' + pr.pattern + '%' OR
									     rau.url = pr.pattern)
																) OR
                    (pr.is_url = 0 AND rau.app_desc = pr.pattern)
                )
            ORDER BY pr.rel_type ASC
        ), 'n') AS category,  -- по умолчанию нейтральный
        
		-- Преобразование времени начала активности к UTC+0
		DATEADD(
			MINUTE, 
			-CAST(ROUND(COALESCE(ul.tz_offset, 0) * @TimezoneOffsetMultiplier, 0) AS INT),
			DATEADD(
				SECOND, 
				(rau.start_time - FLOOR(rau.start_time)) * 86400, 
				DATEADD(DAY, rau.start_time, @base_date)
			)
		) AS time_start,

		-- Преобразование времени окончания активности к UTC+0
		DATEADD(
			MINUTE, 
			-CAST(ROUND(COALESCE(ul.tz_offset, 0) * @TimezoneOffsetMultiplier, 0) AS INT),
			DATEADD(
				SECOND, 
				(rau.start_time - FLOOR(rau.start_time)) * 86400 + rau.active_time, 
				DATEADD(DAY, rau.start_time, @base_date)
			)
		) AS time_end,

		-- Преобразование времени окончания мониторинга к UTC+0
		DATEADD(
			MINUTE, 
			-CAST(ROUND(COALESCE(ul.tz_offset, 0) * @TimezoneOffsetMultiplier, 0) AS INT),
			DATEADD(
				SECOND, 
				(rau.start_time - FLOOR(rau.start_time)) * 86400 + rau.monitor_time, 
				DATEADD(DAY, rau.start_time, @base_date)
			)
		) AS time_monitor_end
        
    FROM TReportAppUsage rau
    INNER JOIN TUserLocations ul ON rau.user_locator = ul.id
    INNER JOIN TUserInfo ui ON ul.user_name = ui.user_name
    LEFT JOIN TProfiles prl ON prl.name = ui.profile
    WHERE FLOOR(rau.start_time) = @d_num
	  AND ui.user_name IN (SELECT user_or_department_name FROM #DepartmentUsers);

    INSERT INTO ReportData (account_id, category, time_start, time_end, time_monitor_end)
    SELECT account_id, category, time_start, time_end, time_monitor_end
    FROM #ReportDataRaw
    WHERE time_start >= CAST(@_date AS DATE)
    AND time_start < DATEADD(DAY, 1, CAST(@_date AS DATE));

    -- Индексы для таблицы отчетных данных
    -- Составной индекс для первого и третьего подзапросов
	CREATE INDEX IX_ReportData_Category_TimeRange ON #ReportData 
		(category, time_start, time_end, time_monitor_end) 
		INCLUDE (account_id);

	-- Составной индекс для второго подзапроса
	CREATE INDEX IX_ReportData_Time_Comparison ON #ReportData 
		(time_end, time_monitor_end) 
		INCLUDE (account_id, category, time_start);

    -- =============================================
    -- Анализ и обработка интервалов активности
    -- =============================================
    
    -- 1. Подготавливаем все интервалы с приоритетами
    CREATE TABLE #TimeData (
        account_id INT,
        start_time DATETIME2,
        end_time DATETIME2,
        category CHAR(1),
        priority INT   -- 1=u, 2=p, 3=n
    );

    INSERT INTO #TimeData (account_id, start_time, end_time, category, priority)
    -- Продуктивные и непродуктивные интервалы
    SELECT account_id, time_start, time_end, category,
        CASE category WHEN 'u' THEN 1 WHEN 'p' THEN 2 ELSE 3 END
    FROM #ReportData
    WHERE category <> 'n' AND time_start < time_end

    UNION ALL

    -- Нейтральные интервалы после активности
    SELECT account_id, time_end, time_monitor_end, 'n', 3
    FROM #ReportData
    WHERE time_end < time_monitor_end

    UNION ALL

    -- Полностью нейтральные интервалы
    SELECT account_id, time_start, time_monitor_end, 'n', 3
    FROM #ReportData
    WHERE category = 'n' AND time_start < time_monitor_end;

    CREATE INDEX IX_TimeData ON #TimeData (account_id, start_time);

    -- 2. Генерируем события (+1 в начале, -1 в конце для каждой категории)
    CREATE TABLE #Events (
        account_id INT,
        time_point DATETIME2,
        u_delta INT DEFAULT 0,
        p_delta INT DEFAULT 0,
        n_delta INT DEFAULT 0
    );

    INSERT INTO #Events (account_id, time_point, u_delta, p_delta, n_delta)
    SELECT account_id, start_time,
        CASE category WHEN 'u' THEN 1 ELSE 0 END,
        CASE category WHEN 'p' THEN 1 ELSE 0 END,
        CASE category WHEN 'n' THEN 1 ELSE 0 END
    FROM #TimeData
    UNION ALL
    SELECT account_id, end_time,
        CASE category WHEN 'u' THEN -1 ELSE 0 END,
        CASE category WHEN 'p' THEN -1 ELSE 0 END,
        CASE category WHEN 'n' THEN -1 ELSE 0 END
    FROM #TimeData;

    CREATE INDEX IX_Events ON #Events (account_id, time_point);

    -- 3. Агрегируем события по моменту времени
    SELECT account_id, time_point,
        SUM(u_delta) AS u_delta,
        SUM(p_delta) AS p_delta,
        SUM(n_delta) AS n_delta
    INTO #AggEvents
    FROM #Events
    GROUP BY account_id, time_point;

    CREATE INDEX IX_AggEvents ON #AggEvents (account_id, time_point);

    -- 4. Строим отрезки между точками и определяем категорию
    WITH Cumulative AS (
        SELECT account_id, time_point,
            SUM(u_delta) OVER (PARTITION BY account_id ORDER BY time_point ROWS UNBOUNDED PRECEDING) AS u_cnt,
            SUM(p_delta) OVER (PARTITION BY account_id ORDER BY time_point ROWS UNBOUNDED PRECEDING) AS p_cnt,
            SUM(n_delta) OVER (PARTITION BY account_id ORDER BY time_point ROWS UNBOUNDED PRECEDING) AS n_cnt,
            LEAD(time_point) OVER (PARTITION BY account_id ORDER BY time_point) AS next_time
        FROM #AggEvents
    )
    SELECT account_id,
        time_point AS segment_start,
        next_time AS segment_end,
        u_cnt, p_cnt, n_cnt,
        CASE 
            WHEN u_cnt > 0 THEN 'u'
            WHEN p_cnt > 0 THEN 'p'
            WHEN n_cnt > 0 THEN 'n'
            ELSE NULL
        END AS category
    INTO #Segments
    FROM Cumulative
    WHERE next_time IS NOT NULL;

    -- 5. Отделяем активные отрезки (с категорией)
    SELECT account_id, category, segment_start AS time_start, segment_end AS time_end
    INTO #ActiveRaw
    FROM #Segments
    WHERE category IS NOT NULL;

    -- 6. Объединяем смежные активные отрезки с учётом разрывов ≤5 минут
    WITH active_win AS (
        SELECT *,
            LAG(time_end) OVER (PARTITION BY account_id ORDER BY time_start) AS prev_end,
            LAG(category) OVER (PARTITION BY account_id ORDER BY time_start) AS prev_cat
        FROM #ActiveRaw
    ),
    grouped AS (
        SELECT *,
            SUM(CASE WHEN prev_end IS NULL 
                            OR category != prev_cat 
                            OR DATEDIFF(SECOND, prev_end, time_start) > 300 
                        THEN 1 ELSE 0 END)
                OVER (PARTITION BY account_id ORDER BY time_start) AS grp
        FROM active_win
    )
    SELECT account_id, category,
        MIN(time_start) AS time_start,
        MAX(time_end) AS time_end
    INTO #ActiveMerged
    FROM grouped
    GROUP BY account_id, category, grp;

    -- 7. Офлайн-периоды (только между объединёнными активными периодами)
    WITH final_with_next AS (
        SELECT account_id, time_start, time_end,
            LEAD(time_start) OVER (PARTITION BY account_id ORDER BY time_start) AS next_time_start
        FROM #ActiveMerged
    )
    SELECT account_id, 'o' AS category, time_end AS time_start, next_time_start AS time_end
    INTO #Offline
    FROM final_with_next
    WHERE next_time_start IS NOT NULL
    AND DATEDIFF(SECOND, time_end, next_time_start) > 300;

    -- 8. Объединяем все периоды и вставляем в целевую таблицу
    INSERT INTO sap_offline (account_id, time_start, time_end, category)
    SELECT account_id,
        TODATETIMEOFFSET(DATEADD(HOUR, 3, time_start), 180) AS time_start,
        TODATETIMEOFFSET(DATEADD(HOUR, 3, time_end), 180) AS time_end,
        category
    FROM (
        SELECT account_id, time_start, time_end, category FROM #ActiveMerged
        UNION ALL
        SELECT account_id, time_start, time_end, category FROM #Offline
    ) AS all_periods
    WHERE time_start < time_end
    ORDER BY account_id, time_start;

    -- =============================================
    -- Очистка временных объектов
    -- =============================================
    
    DROP TABLE #TimeData;
    DROP TABLE #Events;
    DROP TABLE #AggEvents;
    DROP TABLE #Segments;
    DROP TABLE #ActiveRaw;
    DROP TABLE #ActiveMerged;
    DROP TABLE #Offline;
    DROP TABLE #VocabUrls;
    DROP TABLE #VocabApps;
    DROP TABLE #ProfileRules;
    DROP TABLE #ReportData;
    DROP TABLE #ReportDataRaw;
	DROP TABLE #DepartmentUsers;

    COMMIT TRANSACTION;
        
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;
        THROW;
    END CATCH
END;